:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
    --color-border: #ccc;
    --border-radius: 30px;
    --color-box-shadow: #f3f3f3;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
    margin: 3rem 0 1rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

.content {
    margin: 25px;
}

@media screen and (min-width: 1024px) {
    .content {
        margin: 100px;
    }
}

/* About Me */
.about{
    border-radius: 7px;
    box-shadow: 0 0 20px 10px var(--color-box-shadow);
    overflow: hidden;
    padding: 3rem;
}

.brand {
    color: #5c5577;
    font-size: 3rem;
    font-style: italic;
}

.brand__text::after {
    content: close-quote;
}

.brand__text::before {
    content: open-quote;
}

.brand__author {
    font-style: normal;
    padding: 25px 0;
}

/* Author Signature*/
.signature {
    display: flex;
    padding-top: 25px;
}

.signature__title {
    margin-top: 0;
}

.signature__body {
    margin: 0 2rem;
}

.signature__image {
    margin-top: -1rem;
}

@media screen and (max-width: 470px) {
    .brand__author {
        font-style: normal;
        padding: 0;

    }
}
